{{!log out button}}
<a href="/logout" class="text-white float-right" id="log-out-button">Log Out</a>


<div class="row">
        <div class="col col-12 text-center m-5 float">

            <header>
                <div id="logo">
                    <h1>QUEEN CITY</h1>
                    <h3>Underground</h3>
                </div>
            </header>

        </div>
    </div>



{{!form to add events and update}}
<main class="container h-90" style="color: Black;" id="event-Container">
    <h1 id ="event-instructions">Please complete in form. All fields required unless marked optional.</h1>
    <form class="eventMaintenance">
        <section class="row">
            <section class="col-12 form-group">
                <p class="d-flex justify-content-center">
                    lineup:
                    <input type="text" class="form-control" id="lineup-Input" placeholder="lineup">
                </p>
                <p class="d-flex justify-content-center">
                    Date and Time:
                    <input type="text" class="form-control" id="Date-and-Time-Input" placeholder="Date-and-Time">
                </p>
                <p class="d-flex justify-content-center">
                    Cost:
                    <input type="text" class="form-control" id="cost-Input" placeholder="cost">
                </p>
                <p class="d-flex justify-content-center">
                    Ticket Link:
                    <input type="text" class="form-control" id="ticket-Link-Input" placeholder="Ticket-Link">
                </p>
                <p class="d-flex justify-content-center">
                    Poster Link:
                    <input type="text" class="form-control" id="poster-link-Input" placeholder="Poster-Link">
                </p>
                <p class="d-flex justify-content-center">
                    Phone:
                    <input type="text" class="form-control" id="phone-Input" placeholder="phone-Link">
                </p>
                <p class="d-flex justify-content-center">
                    State:
                    <input type="text" class="form-control" id="state-Input" placeholder="state-Link">
                </p>
                <p class="d-flex justify-content-center">
                    City:
                    <input type="text" class="form-control" id="city-Input" placeholder="city-Link">
                </p>
                <p class="d-flex justify-content-center">
                    Zipcode:
                    <input type="text" class="form-control" id="zipcode-Input" placeholder="zipcode-Link">
                </p>
                <p class="d-flex justify-content-center">
                    Address:
                    <input type="text" class="form-control" id="address-Input" placeholder="address-Link">
                </p>
                <p class="d-flex justify-content-center">
                    Venue:
                    <select id="pal-select">
                        {{#each customers}}
                        <option value="{{this.id}}">{{this.customer_name}}</option>
                        {{/each}}
                    </select>
                    <input type="text" class="form-control" id="venue-name-Input" placeholder="venue-name-Link">
                </p>

    {{! button changes from add event to update. only the text tho}}
    {{!<button type="submit" id="addEvent" class="btn btn-primary">Add
        Event</button>}}
    
    
    </section>
    </section>
    </div>
    </form>
</main>







{{! form action set to post to events.js. Is currently only set up to add events. }}
<form action="/api/events" method="POST">

    {{! button changes from add event to update. only the text tho}}
    <button type="submit" class="btn btn-primary btn-lg d-flex float-right">Add Event</button>