<div class="container">
    <a href="/login">LOGIN</a>
    <div class="row">
        <div class="col col-12">
            <input id="start-date" type="date"><input id="end-date" type="date">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
        <div class="col col-12">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Event Name</th>
                        <th>Event Venue</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each events}}
                    <tr>

                        <th scope="row">{{this.id}}</th>
                        <td> {{this.event_name}}</td>
                        <td></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>
    </div>




</div>