<header class="display-4 text-center jumbotron pb-0 pt-4">
    Sign In!
</header>

<main class="container h-75" style="color:white;">

    <section class="row">
        <section class="col-12">
            <p>
                Username:
                <input type="text" id="username" placeholder="Username">
            </p>
            <p>
                Password:
                <input type="password" id="password" placeholder="Password">
            </p>
        <section
        </section>
    </section>

    <section class="">
        <p>
            Test
        </p>
    </section>
</main>