<header class="display-4 text-center jumbotron pb-0 pt-4">
    Sign In!
</header>

<main class="container h-75" style="color:white;">
    <form class="login">
        <section class="row">
            <section class="col-12 form-group">
                <label for="usernameInput">User Name:</label>
                <input type="text" class="form-control" id="usernameInput" placeholder="Username" name="username">
            </section>
        </section>
        <section class="row">
            <section class="col-12 form-group">
                <label for="passwordInput">Password:</label>                
                <input type="password" class="form-control" id="passwordInput" placeholder="Password" name="password">
            </section>
        </section>
        <section class="row">
            <section class="col-12 form-group">
                <button type="submit" class="btn btn-primary btn-lg d-flex float-right">Sign In</button>
            </section>
        </section>
    </form>

    <section class="">
        <div class="float-left col-3">
            <p><a href="/register">Sign Up!</a></p>
        </div>
        <div class="float-right col-3">
            <p class="float-right"><a href="/">Forgot Password?</a></p>
        </div>
    </section>
</main>

<script src="js/login.js"></script>