   {{!log in form}}
 <div class="entry">

   <h1 class="jumbotron display-4 text-center">Sign In!</h1>

   <main class="container">

     <section class="row">
       <section class="col-12">
         <ul>
           <p>
           Username:{{userName}}
           </p>
           
           Password:{{password}}
         </ul>
       </section>
     </section>

     {{!forgot password link}} {{!also need to change href path. is currently set to home}}
     <footer>
     <div class="float-left col-4">
       <p><a href="/">Forgot password?</a></p>
     </div>

     {{!register link}} {{! need to change href path is currently set to home}}
     <div class="float-right col-4">
       <p><a href="/register">Sign up!</a></p>
     </div>
     </footer>


     {{!form action is set to home. needs to change?}}
     <form action="/" method="POST">
       <textarea type="text" name="log-on"></textarea>

       <button type="submit">Sign in</button>
     </form>

   </main>

 </div>