<header class="display-4 text-center jumbotron pb-0 pt-4">
    Register as a Promoter
</header>

<main class="container h-75" style="color:white;">

    <form class="registerForm">

    <section class="row">
        <section class="col-12 form-group">
            <p class="d-flex justify-content-center">
                First Name:
                <input type="text" class="form-control" id="firstNameInput" placeholder="First Name">
            </p>
            <p class="d-flex justify-content-center">
                Last Name:
                <input type="text" class="form-control" id="lastNameInput" placeholder="Last Name">
            </p>
            <p class="d-flex justify-content-center">
                Username:
                <input type="text" class="form-control" id="usernameInput" placeholder="Username">
            </p>
            <p class="d-flex justify-content-center">
                Password:
                <input type="password" class="form-control" id="passwordInput" placeholder="Password">
            </p>
            <p class="d-flex justify-content-center">
                Retype Password:
                <input type="password" class="form-control" id="passwordValidation" placeholder="Password">
            </p>
            <p class="d-flex justify-content-center">
                Email:
                <input type="email" class="form-control" id="emailInput" placeholder="Email">
            </p>
            <button type="submit" class="btn btn-primary btn-lg d-flex float-right">Sign In</button>
        </section>
    </section>

    </form>

<script src="js/register.js"></script>