<header class="display-4 text-center jumbotron pb-0 pt-4">
    Register as a Promoter
</header>

<main class="container h-75" style="color:white;">

    <form class="registerForm">


        <section class="row">
            <section class="col-12 form-group">
                <label for="firstNameInput">First Name</label>
                <input type="text" class="form-control" id="firstNameInput" placeholder="First Name">
            </section>
        </section>
        <section class="row">
            <section class="col-12 form-group">
                <label for="lastNameInput">Last Name</label>
                <input type="text" class="form-control" id="lastNameInput" placeholder="Last Name">
            </section>
        </section>
        <section class="row">
            <section class="col-12 form-group">
                <label for="usernameInput">Username</label>
                <input type="text" class="form-control" id="usernameInput" placeholder="Username">
            </section>
        </section>
        <section class="row">
            <section class="col-12 form-group">
                <label for="passwordInput">Password</label>
                <input type="password" class="form-control" id="passwordInput" placeholder="Password">
            </section>
        </section>
        <section class="row">
            <section class="col-12 form-group">
                <label for="passwordValidation">Retype Password</label>
                <input type="password" class="form-control" id="passwordValidation" placeholder="Password">
            </section>
        </section>
        <section class="row">
            <section class="col-12 form-group">
                <label for="emailInput">Email</label>
                <input type="email" class="form-control" id="emailInput" placeholder="Email">
            </section>
        </section>
        <section class="row">
            <section class="col-12 form-group">
                <button type="submit" class="btn btn-primary btn-lg d-flex float-right">Submit</button>
            </section>
        </section>

    </form>

    <script src="js/register.js"></script>