<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Event Search</h5>
          <div class="col col-12 p-0">
            <div class="venueData">
              <table class="table table-secondary table-hover">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Event</th>
                    <th>Venue</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="js_row">
                    <td id="test">{{this.id}}</td>
                    <td>{{this.eventDateTime}}</td>
                    <td>{{this.eventName}}</td>
                    <td>{{this.Venue.venueName}}</td>
                  </tr>
                </tbody>
              </table>
              <div>
                <a href="/">← Back To Home</a>
              </div>
            </div>
          </div>
        </div>
      </div>