html{
  height: 100%;
}
body{
  color: black; 
  background-color:black;
  background-image: url("/images/mic-unsplash.jpg");
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  height:100%;
  font-family: Arial, Helvetica, sans-serif
}
form{
  margin:auto;
   max-width:300px;
 }
 input[type=date]{ 
  text-align: right;
}
#logo > h3{
  font-family:'Permanent Marker',cursive;
  
  color: #cc0000;
  position: absolute;
  top:20px;
  right:0px;
}
.list-group-item {
  line-height: 2.5;
}
.table{
  opacity: .8;
}
#logo{
  color:#9ac79a;
  display: block;  
  margin: auto;
  position: relative;
  text-align: left;
  width:400px;
}
#logo > h3{  
  color: #cc0000;
  font-family:'Permanent Marker',cursive;
  position: absolute;right:0px;top:20px;
}

.venueData{
  display: block;
  max-height: 230px;
  overflow-y: auto;
}
