html {
    height: 100%;
}

body {
    color: black;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

* {
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}





form {
    margin: auto;
    max-width: 300px;
}

input[type=date] {
    text-align: right;
}

#logo {
    background-color: black;
    border: 1px solid silver;
    color: #9ac79a;
    display: block;
    margin: auto;
    padding: 5px;
    position: relative;
    text-align: left;
    width: 400px;
}

#logo>h3 {
    color: #cc0000;
    font-family: 'Permanent Marker', cursive;
    position: absolute;
    right: 5px;
    top: 25px;
}