html{
  height: 100%;
}
body{
  color: black; 
  background-color:black;
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover; 
  font-family: Arial, Helvetica, sans-serif;
  height:100%;
}
form{
  margin:auto;
   max-width:300px;
 }
 input[type=date]{ 
  text-align: right;
}
.carousel { 
  z-index: -99;  
 } 
.carousel .carousel-item {
  position: fixed;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    width: 100%; height: 100%;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.carousel .one {
  /* background: url(../images/QCU_backgrounds/reason_define.jpg); */
  background-size: cover;
  -moz-background-size: cover;
}
.carousel .two {
  /* background: url(../images/QCU_backgrounds/oso_ck2.jpg); */
  background-size: cover;
  -moz-background-size: cover;
}
.carousel .three {
  /* background: url(../images/QCU_backgrounds/never_i_amos.jpg); */
  background-size: cover;
  -moz-background-size: cover;
}
.carousel .four {
  /* background: url(../images/QCU_backgrounds/reflect_refine_oso.jpg); */
  background-size: cover;
  -moz-background-size: cover;
}
.carousel .five {
  /* background: url(../images/QCU_backgrounds/oso_ck.jpg); */
  background-size: cover;
  -moz-background-size: cover;
}
 .carousel-fade .carousel-item{
  opacity: 1;
  transition: opacity ease-out .7s;
  z-index: -5;
}
.carousel.carousel-fade .carousel-item.active {
  opacity: 1 !important; 
} 
.eventPoster{
  width:175px;height:auto;
}
.eventUL{
  list-style-type: none;
  float:right;
  margin:0px;
  max-width: 350px;
  padding:15px;
}
.list-group-item {
  line-height: 2.5;
}
.input-group-text{
  width:70px;
}
.table{
  opacity: .8;
}
.venueData{
  background-color: #dbdde0;
  display: block;
  max-height: 230px;
  overflow-y: auto; 
}
#logo{
  background-color:black;
  border:1px solid silver;
  color:#9ac79a;
  display: block;  
  margin: auto;
  padding: 5px;
  position: relative;
  text-align: left;
  width:400px;  
}
#logo > h3{  
  color: #cc0000;
  font-family:'Permanent Marker',cursive;
  position: absolute;right:5px;top:25px;
}
@media (min-width: 576px){
  .modal-dialog {
    max-width: 600px;
  }
}

