html{
  height: 100%;
}
body{
  color: black; 
  background-color:black;
  background-image: url("/images/mic-unsplash.jpg");
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  height:100%;
  font-family: Arial, Helvetica, sans-serif
}

#logo{
  color:#9ac79a;
  position: relative;
  width:400px;
  display: block;
  margin: auto;
  text-align: left;
}
#logo > h3{
  font-family:'Permanent Marker',cursive;
  
  color: #cc0000;
  position: absolute;
  top:20px;
  right:0px;
}

.list-group-item {
  line-height: 2.5;
}
.table{
  opacity: .8;
}
.input-group-prepend{
  width:75px;
}
.input-group-text{
  width:75px;
}
input[type=date]{
 
  text-align: right;
}
form{
 margin:auto;
  max-width:300px;
}

.venueData{
  display: block;
  max-height: 230px;
  overflow-y: auto;
}
